.Welcome {
    background-image: url(../images/banner-bg.png);

    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
}

/* header   */


.Header .inner-bar {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    width: 100%;
    position: sticky;

    top: 25px;
    z-index: 999;
    border-radius: 50px;
    background-color: white;
    padding: 30px;
}
.Header .util{
    display: none;
}
.Header .inner-menu {
    margin: 0px;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--tex);
}

.Header .inner-menu a {

    color: var(--color-two);
    font-size: 16px;
    font-weight: 600;
}

.Header .inner-menu li a:hover  {
    color: var(--color-one);
    text-decoration: none;

}
.Header .inner-welcome {
    
    text-align: center;
    padding: 80px;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
}

.Header .inner-welcome .inner-title {
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}

.Header .inner-welcome .inner-desc {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*end  header   */

@media (max-width:1198.98px){
    .Header .inner-menu a{
        font-size: 14px;
        font-weight: 500;
    }
    .Header .inner-welcome .inner-title {
        color: #fff;
        font-size: 40px;
        font-weight: 800;
    }
    .Header .inner-welcome{
        padding: 150px;
    }
}
@media (max-width:991.98px){
    .Header .inner-menu a{
        display: none;
    }
    .Header .util{
        display: block;
        font-size: 30px;
        color: var(--color-one);
        position: absolute;
        right: 30px;
    }
    .Header img{
        margin-left: 30px;
        width: 180px;
        object-fit: cover;
    }
    .Header .inner-welcome {
        padding-top: 120px;
    }
    .Header .inner-welcome .inner-title{
        font-size: 30px;
    }
    .Welcome{
        height: 90vh;
    }
}
/* section-one  */

.section-one .inner-list {

    justify-content: space-between;
}

.section-one .inner-list .inner-box {
    height: 250px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    margin-top: -120px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.section-one .inner-list .inner-box i {
    transition: all 0.3s;
    padding: 18px;
    border-radius: 50%;
    background-color: var(--color-one);
    color: #fff;
    font-size: 45px;
}

.section-one .inner-list .inner-box h2 {
    color: #000;
    font-size: 20px;
    margin-top: 20px;
}

.section-one .inner-list .inner-box p {
    color: var(--color-text);
}

.section-one .inner-list .inner-box:hover i {
    background-color: var(--color-two);
}
@media (max-width:991.98px){
    .section-one .inner-list .inner-box i{
        font-size: 35px;
    }
    .section-one .inner-list .inner-box h2 {
        font-size: 18px;
    }
    .section-one .inner-list .inner-box p{
        font-size: 15px;
    }
}
/*end section-one  */


/* section two  */
.section-two {
    margin: 90px;
}

.section-two .content {
    align-items: center;
}

.section-two .inner-image img {
    margin-left: 60px;
    width: 50%;
    height: auto;
}

.section-two .inner-content h2 {
    font-size: 27px;

}

.section-two .inner-content p {
    color: var(--color-text);
    font-size: 17px;
    margin-top: 30px;
}

/*end section two  */


/* section-three */
.section-three {
    margin: 90px;
}

.section-three .content {
    align-items: center;
}

.section-three .inner-image img {
    margin-left: 192px;
    width: 50%;
    height: auto;
}

.section-three .inner-content h2 {
    font-size: 27px;

}

.section-three .inner-content p {
    color: var(--color-text);
    font-size: 17px;
    margin-top: 30px;
}

/*end section-three */



/* section four  */
.section-four{
    background-image: url(../images/work-process-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-four .inner-content{
    padding:80px;
    text-align: center;
    line-height: 1.5;
}
.section-four .inner-content .inner-list{
    justify-content: center;
}
.section-four .inner-desc h2{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.section-four .inner-desc p{
    color: #fff;
    font-size: 19px;
    font-weight: 300px;
    margin: 30px;
}
.section-four .inner-content .inner-list .box{
    position: relative;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 17px;
    background-color: #fff;
    z-index: 2;

}
.section-four .inner-list .box-sd{
    margin-bottom: 20px;
}
.section-four .inner-content .inner-list .box-sd::after{
    content: "";
    background-color: #9E7DE6;
    width: 78%;
    height: 100%;

    z-index: 1;
    position: absolute;
    right: 1px;
    top: 13px;
    border-radius:  20px;
    
}
.section-four .inner-content .box i{
    color: var(--color-one);
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.section-four .inner-content .box span{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}
.section-four .inner-content .box p{
    color: var(--color-text);
    font-size: 16px;
}
@media (max-width:1198.98px){
.section-four .inner-content{
    padding: 50px;
}
}
/*end section four  */


/* section five  */
.section-five{
    padding: 130px 0px;
}
.section-five .box{
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 27px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-five .box i{
    color: var(--color-two);
    font-size: 38px;
    margin-bottom: 20px;
}
.section-five .box p{
    color: var(--color-text);
    line-height: 1.8;
    margin-left: 14px;
}
.section-five .box .inner-inf{
    margin-top: 16px;
    display: flex;
}
.section-five .box .inner-inf .inner-image{
    width: 30%;
}
.section-five .inner-image img{
    width: 79%;
    height: auto;
    border-radius: 50%;
    /* margin-right: 18px; */
}
.section-five .inner-inf{
    width: 100%;
    display: flex;
    align-items: center;
}
.section-five .inner-inf h3{
    font-size: 17px;
}
.section-five .inner-inf h4{
    color: var(--color-two);
    font-size: 15px;
}
@media (max-width:991.98px){
    .section-five .box i{
        font-size: 33px;
    }
    .section-five .box p{
        line-height: 1.5;
        margin-left: 11px;
        font-size: 14px;
        margin-bottom: 0px;
    }
}
/*end section five  */


/* section six */
.section-six{
    background-color: #F2F2FE;
    padding: 120px;
}
.section-six .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 30px;
}
.section-six .box span{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.section-six .box .price{
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 10px;
    background-color: var(--color-one);
    border-radius: 30px;
    margin: 0px;
}
.section-six .box .price h4{
    margin: 0px;
}
.section-six .box .price h4::first-letter{
    font-size: 45px;
}
.section-six .box .price span{
    font-size: 15px;
    font-weight: 300;
}
.section-six .box ul{
    padding: 0px;
    margin-top: 20px;
    line-height: 2.5;
    text-align: center;  
    color: var(--color-text);
}
.section-six .box ul li:nth-child(2n+1){
    text-decoration: line-through;
}
@media (max-width:1199.98px){
    .section-six{
        padding: 80px;
    }
    .section-six .box span{
        font-size: 17px;
    }
    .section-six .box .price h4{
        font-size: 18px;
    }
    .section-six .box .price h4::first-letter{
        font-size: 30px;
    }
    .section-six .Button{
        font-size: 14px;
    }

}

/*end section six */

/* section seven  */
.section-seven{
    padding: 120px 0px;
    background-image: url(../images/work-process-bg.png);
}
.section-seven .inner-content{
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    position: relative;
}
.section-seven .decor::after{
    content: "";
    background-image: url(../images/circle-dec.png);
    position: absolute;
    z-index: 2;
    left: 216px;
    bottom: 17px;
    width: 70%;
    height: 32px;
    background-repeat: no-repeat;
}

.section-seven .inner-content strong{
    font-size: 40px;
    font-weight: 400;  
}
.section-seven .inner-content span{
    font-size: 20px;
    font-weight: 400;
}
@media (max-width:991.98px){
    .section-seven .inner-content strong{
        font-size: 30px;
        font-weight: 300;  
    }
    .section-seven .inner-content span{
        font-size: 17px;
        font-weight: 300;
    }
    .section-seven .decor::after{
      left: 150px;
    }
}
/*end section seven  */

/* section eight  */
.section-eight{
    padding: 120px 0px;
}
.section-eight .content p{
    margin-bottom: 30px;
}
.section-eight .inner-list{
    justify-content: center;
}
.section-eight .box{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-eight .box img{
    border-radius: 20px;
    width: 100%;
    transition: all 0.8s;
}
.section-eight .box img:hover{
    transform: scale(1.2);
}
.section-eight .box h3{
    color:#000;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}
.section-eight .box p{
    color: var(--color-text);
    font-size: 15px;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 20px;
}
/*end section eight  */

/* section nine  */
.section-nine{
    padding: 120px 0px;
    background-color: #F2F2FE;
}
.section-nine .inner-desc h4{
    font-size: 19px;
    font-weight:400;
    margin-bottom: 37px;
}
.section-nine .inner-desc p{
    padding-right: 50px;
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.6px;
    line-height: 26px;
}
.section-nine .inner-form input{
    border-radius: 30px;
    padding: 17px;
    border: 0px;
    padding-left: 30px;
    width: 100%;
    margin-bottom: 20px;
}
.section-nine .inner-form .form-message{

    border-radius: 20px;
    width: 100%;
    height:200px;
    padding: 20px;
    font-size: 20px;
    border: 0px;
    margin-bottom: 20px;
}
.footer{
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
    padding-top: 30px;
    color: #fff;
    text-align: center;
}
.footer .inner-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer ul{
    display:flex;
    width: 30%;
    padding: 0px;

    justify-content: space-between;
    margin-bottom: 36px;
}
.footer ul li a{
    color: #9d5bd9;
    text-align: center;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}
.footer ul li a:hover{
    background-color: var(--color-two);
    color: #fff;
}
.footer ul li a
.footer p{
    border-top: 1px solid #fff;
    padding: 15px;
}
/*end section nine  */